body {
    margin: 0;
}

.container {
    background-color: lightcoral;
    width: 400px;
    height: 600px;
    margin: 100px auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.display {
    background-color: rgb(255, 237, 230);
    border-radius: 10px;
    height: 100px;
    margin: 3px 13px;
    text-align: right;
}

.buttons {
    margin: 0px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#zero {
    width: 185px;
}

button {
    box-sizing: border-box;
    margin: 2.5px;
    width: 90px;
    height: 90px;
    border-radius: 10px;
}

