/* Palette:
#f991cc
#e2afde
#f79d5c
#f3752b
#140318 */


body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-blend-mode: lighten;
    background-image: url("images/tumblr_inline_mlkwolhobQ1r53miq.png");
}

.num {
    color: #1d1e2c;
    background-color: #f7ebec;
}

.operator {
    background-color: #ac9fbb;
    color: #f7ebec;
    font-size: 26px;
}

.toprow {
    background-color: #ddbdd5;
}

.container {
    border-radius: 15px;
    outline: 5px solid #1d1e2c;
    background-color: #59656f;
    width: 400px;
    height: 605px;
    margin: 100px auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.display {
    color: #f7ebec;
    background-color: #331a2d;
    padding-right: 5px;
    font-size: 70px;
    border-radius: 10px;
    height: 100px;
    margin: 3px 13px;
    text-align: right;
}

.buttons {
    margin: 0px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#zero {
    width: 185px;
}

button {
    box-sizing: border-box;
    margin: 2.5px;
    width: 90px;
    height: 90px;
    border-radius: 10px;
    font-size: 25px;
    border: 0px;
    opacity: .9;
}

button:hover {opacity: 1;}

button:active {opacity: .8;}

